---
layout: layouts/base.njk
css:
  - /css/portfolio.css
  - /css/blog.css
---
<div class="wrap">
  <div class="detail-head">
    <h1>{{ title }}</h1>
    <span class="post-meta">{{ date | readableDate }}</span>
    {%- if teaser %}
    <div class="post-banner" style="background-image:url('{{ teaser }}')"></div>
    {%- endif %}
  </div>
  <div class="post-content">
    {{ content | safe }}
  </div>
  <p class="post-back">
    <a class="back" href="/blog/">← Back to Blog</a>
  </p>
</div>
