<footer>
  <div class="wrap">
    <div class="foot-grid">
      <div class="col"><b>{{ site.name }}</b><span>{{ site.footer.role }}</span></div>
      <div class="col"><b>Location</b><span>{{ site.footer.location }}</span></div>
      <div class="col"><b>Contact</b><span><a href="mailto:{{ site.footer.email }}">{{ site.footer.email }}</a></span></div>
    </div>
    <div class="copyright">&copy; {{ site.year }} {{ site.name }}</div>
  </div>
</footer>
